.window-frame{
    width: 600px;
    height: 400px;
    background: #ece9d8;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(#2658d3, #1f4ea3);
    border-top: 3px solid #6fa2ff;
}

.window-frame.maximized {
    width: 100%;
    height: 100%;
    background: #ece9d8;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(#2658d3, #1f4ea3);
}

/* ===== TITLE BAR ===== */
.window-titleBar {
    height: 30px;
    /*background: linear-gradient(#3a6ea5, #1f4e94);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    /*color: white;*/
    font-weight: bold;
    font-size: 13px;
}

.window-title {
    user-select: none;
    color: white;
}

/* ===== CONTROL BUTTONS ===== */
.window-controls {
    display: flex;
    gap: 4px;
}

.btn {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    background-image: url("src/assets/windows/window_frame_button_spritesheet.png"); /* sprite sheet */
    background-size: 60px 18px;
}


.close {
    background-color: #c26245;
    background-position: -44px 0;
}

.minimize {
    background-position: -57px 0;
}

.maximize {
    background-position: -74px 0;
}

.close:hover {
    /*#cc2e2e*/
    background-color: #ff6a6a ;
}

.minimize:hover {
    background-color: white;
}

.maximize:hover {
    background-color: white ;
}


/* ===== BODY ===== */
.window-body {
    height: calc(100% - 30px);
    background: white;
    padding: 10px;
    margin: 5px;
}