#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Lớp phủ sọc ngang */
.scanlines {
  pointer-events: none; /* không chặn click */
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
          to bottom,
          rgba(255,255,255,0.04) 0px,
          rgba(255,255,255,0.04) 2px,
          rgba(0,0,0,0.03) 2px,
          rgba(0,0,0,0.03) 4px
  );
  mix-blend-mode: overlay;
}
.scanlines { z-index: 100000; }
