.desktop {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    background-size: cover;    background-image: url("src/assets/windows/wallpaper__default.jpg");

    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

